.custom-dashboard-card {
  background-color: white;
  border: 2px solid #ca6333;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* kompakter statt space-between */
}

.custom-dashboard-title {
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
}

.custom-progress-container {
  background-color: #e9ecef;
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
  margin-bottom: 0.75rem;
}

.custom-progress-bar {
  background-color: #453075;
  height: 100%;
  transition: width 0.3s ease;
}


.live-label {
  color: #28a745;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.live-time {
  color: #888;
  font-weight: bold;
  font-size: 0.95rem;
  margin-left: 0.4rem;
}

.status-closed {
  color: #ca6333;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 576px) {
  .custom-dashboard-card {
    padding: 1rem;
    border-radius: 15px;
  }
}

.custom-btn {
  color: #453075;
  background-color: white;
  border: 2px solid #453075;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
}

.custom-btn:hover {
  background-color: #5e2ca5;
  color: white;
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
  height: 60px;
  top: 40%; /* leicht zentriert */
  transform: translateY(-50%);
  background-color: #ca6333; /* Orange */
  border-radius: 50%;
  opacity: 0.9;
  z-index: 2;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #e67645; /* etwas heller beim Hover */
  opacity: 1;
}

.carousel-control-prev {
  left: -50px; /* weiter nach links raus */
}

.carousel-control-next {
  right: -30px; /* weiter nach rechts raus */
}

.carousel-flex-wrapper {
  border: 2px solid #453075;
  border-radius: 20px;
  padding: 1rem;
  background-color: white;
  box-shadow:
    0 4px 10px rgba(69, 48, 117, 0.15),
    0 0 0 2px #453075;
  width: 100%;
  gap: 1rem;
}

.carousel-arrow {
  background: transparent;
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 2rem;
  height: 2rem;
}

.percentage-label {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: #453075;
}

.answers-scrollbox {
  max-height: 200px; /* je nach Bedarf anpassen */
  overflow-y: auto;
  margin-bottom: 1rem;
  padding-right: 4px;
}

.answers-scrollbox::-webkit-scrollbar {
  width: 3px;
}
.answers-scrollbox::-webkit-scrollbar-thumb {
  background-color: #453075;
  border-radius: 4px;
}

.question-header, .winner-line {
  max-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  justify-content: center;
}

.custom-title {
  color: #453075;
}
