.custom-navbar {
  background-color: #4b0082;
  padding: 0.5rem 1rem;
}

.custom-navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.navbar-logo {
  height: 5rem; /* schön groß */
  width: auto;
  object-fit: contain;
  margin: 0 auto;
}

.logout-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border-color: white;
  white-space: nowrap;
}

.logout-btn:hover {
  color: #453075;
  background-color: white;
}
