<div class="container my-4">
  <!-- Header und Buttons -->
  <div class="row mb-4 justify-content-between align-items-center">
    <div class="col-auto">
      <button class="btn custom-btn" (click)="openEventPopup()">Create Event</button>
      <button class="btn custom-btn" (click)="openSurveyPopup()">Create Questionnaire</button>
    </div>
  </div>


  <app-survey-list></app-survey-list>

  <app-event-list></app-event-list>



  <!-- Popups -->
  <app-event-popup *ngIf="showEventPopup" (close)="closeEventPopup()"></app-event-popup>
  <app-survey-popup *ngIf="showSurveyPopup" (close)="closeSurveyPopup()"></app-survey-popup>
  <app-end-event-popup
    *ngIf="showEndEventPopup"
    [eventIDToEnd]="selectedEventID"
    [eventEndTime]="selectedEndTime"
    (close)="closeEndPopup()"
  ></app-end-event-popup>
</div>
<!-- Event-Detail-Popup -->
<app-event-detail-popup
  *ngIf="showEventDetailPopup"
  [event]="selectedEvent"
  (close)="closeDetailPopup()"
/>
